#container{ 
    width: 100%; 
    height: 100%; 
} 
#header{ 
    width: 100%; 
    height: 70px; 
    background: #ffffff; 
} 
#content{ 
    width: 100%; 
    height: calc(100% - 110px); 
    background: #f5f5f7; 
} 
#footer{ 
    width: 100%; 
    height: 40px; 
    background: #1a1a1a; 
}
#header .logo{
    width: 40px;
    /* height: 40px; */  
    position: relative;
    top:10px;
    float: left;
    margin-left: 15px;
}

#header .logoText{
    position: relative;
    top:18px;
    margin-left: 9px;
    font-size: 12pt;
    font-weight: bold;
    float:left;
}
#header .logoText span{
    color: #2557a7;
}
#header .signinIcon {
    width: 40px;
    position: relative;
    top:10px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
#header .signinText{
    position: relative;
    top:20px;
    margin-right: 9px;
    font-size: 14pt;
    font-weight: bold;
    float:right;
    cursor: pointer;
}
#header .signinText:hover,
.signinIcon:hover + .signinText
{
    color: #1f4787;
    text-decoration: underline;
}

#footer .copyrightText{
    position: relative;
    top:10px;
    margin-left: 15px;
    font-size: 15pt;
    font-weight: bold;
    float:left;
    color: #ffffff;
}
#footer .socialmediaIcon{
    width: 20px;
    /* height: 40px; */  
    position: relative;
    top:10px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}
#content .text1{
    position: relative;
    top: 8px;
    margin-left: 15px;
    font-size: 20pt;
    font-weight: bold;
    color: #2d2d2d;
}

#content .text2{
    position: relative;
    top: 24px;
    margin-left: 10px;
    font-size: 40pt;
    font-weight: bold;
    color: #595959;
}
#content .text3{
    position: relative;
    top: 30px;
    margin-left: 15px;
    font-size: 30pt;
    color: #2557a7;
}

#content .searchBar{
    position: relative;
    top: 40px;
    margin-left: 15px;
    display: block;
    border-radius: 10px;
    background: white;
    width: fit-content;
    padding: 10px;
}

.searchBar .searchjobText{
    width: 300px;
    height: 34px;
    padding-left:30px ;
    border: none;
    outline: none;
    font-size: 12pt;
    background: wheat;
    background: url('/searchicon.png') no-repeat;
    background-size: 40px 30px;
    background-position: 0px center;
}

.joblocationText{
    width: 300px;
    height: 35px;
    padding-left:40px ;
    border: none;
    outline: none;
    border-left: 0.5px solid black;
    font-size: 12pt;
    background: url('/location.png') no-repeat;
    background-size: 40px 30px;
    background-position: 0px center;
}

.searchBar .searchjob {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    background: #2557a7;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.searchBar .searchjob:hover {
    background: #1f4787;
}

#popup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupwindow{
    width: 300px;
    height: 45%;
    background-color: #ffffff;
    border-radius: 10px;
}

#popupheader{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2557a7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f5f5f7;
}

#signin{
    width: 100%;
    padding: 10px
}

.usernamelabel {
    display: block;
    margin-bottom: 7px;
}

.passwordlabel {
    display: block;
    margin-bottom: 7px;
    margin-top: 14px;
}

.input-form {
    width: 90%;
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #f5f5f7;
}

#forgetpassword {
    text-align: right;
    margin-right: 19px;
    font-size: 11pt;
    margin-top: 10px;
}

.forgetlabel {
    color: #2557a7;
    cursor: pointer;
}

.forgetlabel:hover {
    color: #1f4787;
}

#signinButton {
    width: 94%;
    height: 30px;
    margin-top: 10px;
    background: #2557a7;  
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

#signinButton:hover {
    background: #1f4787;
}